<div>
    <div>
        <form>
            <input type="text" name="name" [(ngModel)]="name" placeholder="Search by Name" />
            <ul>
                <!-- *All we want is a filter that takes an array as input and returns
                     *a subset of that array based on the term we supply. In Angular,
                     * this way of transforming data to some other form is implemented with Pipes 
                -->

                <!-- results of ngFor is passed to appFilter with argument name -->
                <li *ngFor="let emp of employees | appFilter: name">
                    <ul *ngIf="emp">                       
                        <b>{{emp.first_name}} {{emp.last_name}}</b>
                    </ul>
                        <employee_detail [employee]="emp"></employee_detail>
                    
                </li>
            </ul>
        </form>
        <br><br>
        <input type="button" value="Show/Hide" id="get-users" (click)="show()">
    </div>
    <div *ngIf="isTrue">
        <table>
            <thead>
                <tr>
                    <th>Name</th>

                </tr>
            </thead>
            <tr *ngFor="let employee of employees">
                <td>{{employee.first_name}} {{employee.last_name}}</td>
                <td>
                    <button (click)="test(employee.id)">click here for details</button>
                </td>

            </tr>
        </table>
        <div>
            <employee_detail [employee]="selectedEmployee"></employee_detail>
        </div>
    </div>
</div>