<div class="fluid-container" id="main-container">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(197, 184, 184);">
        <div class="container-fluid" >
            <span class="navbar-brand mb-0 h1">Employee Management</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#colapsableInFuture" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="colapsableInFuture">
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" [routerLink] = "['/employeelist']">Employees Home</a>
                    </li>

                </ul>
                <form class="d-flex" (click)="Logout()">
                    <button class="btn btn-warning" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <router-outlet> </router-outlet>
</div>